<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <!-- Add search form -->
    <form action="/search" method="GET" class="search-form">
      <h2>Search Users</h2>
      <label for="searchName">Name:</label>
      <input type="text" name="searchName" id="searchName" />

      <label for="searchEmail">Email:</label>
      <input type="email" name="searchEmail" id="searchEmail" />

      <button type="submit">Search</button>
    </form>

    <ul>
      <% if (locals.users) {%> <% users.forEach(function(user) { %>
      <li>
        ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,
        Email: <%= user.email %> <% if (user.age) { %>, Age: <%= user.age %><% }
        %> <% if (user.bio) { %>, Bio: <%= user.bio %><% } %>
      </li>
      <a href="/<%= user.id %>/update">Update</a>
      <!-- This time we're sending a POST request to our route, so we need a form. -->
      <form
        action="/<%= user.id %>/delete"
        method="POST"
        style="display: inline"
      >
        <button
          type="submit"
          onclick="return confirm('Are you sure you want to delete this user?');"
        >
          Delete
        </button>
      </form>
      <% }); %> <% } %>
    </ul>
    <a href="/create">Create a user</a>
    <!-- In views/index.ejs -->
  </body>
</html>
